.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: row;
  min-height: 300px;
}

.flexcontainer div {
  margin-bottom: 10px;
  font-size: 12px;
  border: 1px solid #3a99c7;
  width: 150px;
  height: 200px;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.pagination {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style-type: none;
  width: 400px;
}
ul.pagination li {
  margin-left: 2px;
  float: left;
}
ul.pagination li a {
  display: block;
  float: left;
  width: 30px;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 1px;
}
ul.pagination li a:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}
ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}
